{% extends 'base.html.twig' %}

{% block body %}
<div class="w3-container w3-content" style="max-width: 1400px; margin-top: 80px;">

    <div class="w3-row-padding">
        <!-- Left Column -->
        <div class="w3-third">
            <div class="w3-white w3-text w3-card-4">
                <div class="w3-container">
                    <h2 class="w3-text-theme w3-center">Some greeting</h2>
                    <p class=" w3-center">Nice to meet you, welcome to us.</p>
                </div>
            </div><br>
        </div>
        <!-- End Left Column -->

        <!-- Right Column -->
        <div class="w3-twothird">
            <div class="w3-container w3-card w3-white w3-margin-bottom">



<h2 class="w3-text-theme w3-padding-16">
                    <i class="fa fa-sign-in fa-fw w3-margin-right w3-xxlarge w3-text-theme"></i>Log In
                </h2>
                <!-- Login Form -->
                <form action="" method="POST">
                    <!-- Input:Username -->
                    <div class="w3-padding">
                      <label for="formInput#text">Email: </label>
                      <input
                        id="formInput#text"
                        type="text"
                        name="email"
                        placeholder="Enter your email..."
                      />
                    </div>
            
                    <!-- Input:Password -->
                    <div class="w3-padding">
                      <label for="formInput#password">Password: </label>
                      <input
                        id="formInput#passowrd"
                        type="password"
                        name="password"
                        placeholder="••••••••"
                      />
                    </div>

                    {% if error %}
                      <p class="w3-text-red" > {{error}} </p>
                    {% endif %}

                    <div >
                      <input type="submit" class="w3-button w3-theme w3-margin-top" value="Log In"></input>
                        <br>
                      <a href="{{ path ('reset-password')}}" class="w3-text-theme w3-right" >Forget Password?</a>
                    </div>
                  </form>
                <!-- End Login Form -->
                <div class="w3-center">
                    <p>Dont have an Account?</p>
                    <a class="w3-button w3-theme" href="{{path ('register')}}">Sign Up</a>
                  </div>



 </div>
        </div>
    </div>
</div>

{% endblock %}
